# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.so

# Virtual environment
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# Data files
*.png


# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

